<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.user.mapper.TbAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.me.user.pojo.TbAddress">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="provinceid" property="provinceid" />
        <result column="cityid" property="cityid" />
        <result column="areaid" property="areaid" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="contact" property="contact" />
        <result column="is_default" property="isDefault" />
        <result column="alias" property="alias" />
    </resultMap>

</mapper>
